.kanyeDescription {
  word-wrap: break-word;
}

.kanyeDescription .box {
  margin-top: 1rem;
  background-color: #c8c8c81a;
  border: 1px solid #eeeeee;
  padding: 1rem;
  border-radius: 4px;
  font-weight: bold;
  word-wrap: break-word;
}
